<app-category-nav></app-category-nav>
<div class="wrapper">
    <app-section-header [header]="headerText"></app-section-header>
    <app-sort-and-filter
    [search_data]="searchParams.search_data"
    (sortByCategory)="sortByCategory($event)"
    (sortByComplexity)="sortByComplexity($event)"
    (sortByTime)="sortByTime($event)"
    (newSearchData)="newSearchData($event)"
    (comlexityFilter)="filterByComplexity($event)"
    (timeFilter)="filterByTime($event)"
    ></app-sort-and-filter>
    <app-recipe-list [recipes]="recipes"></app-recipe-list>
</div>