<nav>
  <div class="wrapper">
    <h2><a routerLink="/home">Easy<span>Cook</span></a></h2>
    <div class="search_toggle">
      <div class="searchbox">
        <input 
        type="text" 
        name="search" 
        placeholder="Search recipe here"
        class="form-control input-lg"
        [(ngModel)]="searchData"
        (keypress)="submit($event)"
        />
        <button type="button" class="btn btn-default btn-lg" (click)="submit($event)"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div *ngIf="isAuth;else other_content" class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <i class="far fa-user"></i>
      <button class="btn btn-outline-primary" ngbDropdownToggle>Account</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/profile">Profile</a>
        <a class="dropdown-item" routerLink="/my-recipes">My recipes</a>
        <a class="dropdown-item" routerLink="/recipes/favorites">Favorites</a>
        <a class="dropdown-item">Sign out</a>
      </div>
    </div>
    <ng-template #other_content>
      <div class="auth">
        <a routerLink="/auth/login">Sign-in</a>
        <a routerLink="/auth/register">Sign-up</a>
      </div>
    </ng-template>
  </div>
</nav>