<nav class="header">
  <div class="wrapper">
    <h1 class="header__title"><a class="header__title--link" routerLink="/home">Easy<span class="header__title--color">Cook</span></a></h1>
    <div class="search">
      <div class="search__box">
        <input 
        type="text"
        name="search"
        placeholder="Search recipe here"
        class="form-control input-lg"
        [(ngModel)]="searchData"
        (keypress)="submit($event)" 
        />
        <button type="button" class="btn btn-default btn-lg" (click)="submit($event)"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div *ngIf="isAuth;else other_content" class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <i class="far fa-user"></i>
      <button class="btn btn-outline-primary" ngbDropdownToggle>Account</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/profile">Profile</a>
        <a class="dropdown-item" routerLink="/my-recipes">My recipes</a>
        <a class="dropdown-item" routerLink="/recipes/favorites">Favorites</a>
        <a class="dropdown-item" (click)="signOut()">Sign out</a>
      </div>
    </div>
    <ng-template #other_content>
      <div class="auth">
        <a routerLink="/auth/login">Sign-in</a>
        <a routerLink="/auth/register">Sign-up</a>
      </div>
    </ng-template>
  </div>
</nav>