nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    padding-left: 2rem;

    h2 a, .auth a {
        color: #262626;
        margin-right: 1rem;
        font-size: 2rem;
    }
    .btn-primary {
        background-color:  beige;
        border-color:beige;
        color: #481d0b;
        margin-right: 5rem; 
    }
    .btn-primary:focus {
        box-shadow: none;
    }
    .btn-primary.dropdown-toggle {
        background-color:  beige;
        border-color:beige;
        color: #481d0b;
    }
    // i {
    //     font-size: 4rem;
    //     color: green;
    // }
}
