form {
    max-width: 30%;
    margin: 20% auto;
    .btn-primary {
        background-color:  #96c031;
        border-color:  #96c031;
    }
}

button {
    margin-top: 1rem;
    
}
.form-group {
    text-align: center;
}

.invalid-email {
    color: #e61c44;
}