.form {
    max-width: 30%;
    margin: 20% auto;
}

.btn-primary {
    background-color: #96c031;
    border-color: #96c031;
}

.form-group {
    text-align: center;
}
.form__email--invalid {
    color: #e61c44;
}