.header {
    background-color: #96c031;
    color: #FFF;
    margin-top: 5px;
    padding-left: 1rem;
    
    h3 {
        line-height: 3rem;
    }
}
.wrapper {
    form {
        padding: 1rem;
    }
    textarea {
        height: 20rem;
        resize: none;
    }
} 

.select {
    display: flex;
    justify-content: space-between;
    &>div {
        width: 30%;
    }
}