.form {
    padding: 1rem;
}
.form__item--content {
    height: 20rem;
    resize: none;
}

.form__item--select {
    display: flex;
    justify-content: space-between;
    &>.form-group {
        width: 30%;
    }
}
.form__item--select
img {
    height: 13rem;
    margin-bottom: 15px; 
}

// bootstrap buttons 
.btn-primary, .btn-primary:active, .btn-primary:hover {
    background-color:  #96c031;
    border-color:  #96c031;
    box-shadow: none;
}
.btn-primary:focus {
    background-color:  #76942d;;
    border-color:  #76942d;;
    box-shadow: none;
}


