.header {
    background-color: #96c031;
    color: #FFF;
    margin-top: 5px;
    padding-left: 1rem;
    
    h3 {
        line-height: 3rem;
    }
}
.wrapper {
    ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        margin-top: 15px;
        width: 32%;
        background-color: #fff;
    }
} 