.wrapper {
   
}

img {
    width: 100%;
}
p {
    white-space: pre-line;
    text-align: justify;
    padding: 0 10px;
}

.dish-photo {
    margin: auto;
    width: 70%;
}
.liked {
    color: green;
}