<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav wrapper">
        <a class="nav-item nav-link" routerLink="/recipes/all-recipes">All recipes</a>
        <a class="nav-item nav-link" routerLink="/recipes/appetizers-and-snack">Appetizers&Snack</a>
        <a class="nav-item nav-link" routerLink="/recipes/breafast-and-brunch">Breakfast&Brunch</a>
        <a class="nav-item nav-link" routerLink="/recipes/dessert">Dessert</a>
        <a class="nav-item nav-link" routerLink="/recipes/dinner">Dinner</a>
        <a class="nav-item nav-link" routerLink="/recipes/drink">Drinks</a>
      </div>
    </div>
  </nav>