form {
    padding: 1rem;
}
textarea {
    height: 20rem;
    resize: none;
}
.select {
    display: flex;
    justify-content: space-between;
    &>div {
        width: 30%;
    }
}
img {
    height: 13rem;
}
.controls {
    margin: 0;
}
.btn {
    background-color:  #96c031;
    border-color: #96c031; 
    margin: 10px;
}
