<form [formGroup]="newRecipeForm" novalidate (ngSubmit)="submit()" enctype="multipart/form-data">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" name="title" formControlName="title" placeholder="Title" />
  </div>
  <div class="form-group">
    <label>Recipe description</label>
    <textarea class="form-control" name="content" formControlName="content" placeholder="Content"></textarea>
  </div>
  <div class="form-group select">
    <div class="form-group">
      <label>Recipe category</label>
      <select class="form-control" name="category_id" formControlName="category_id">
        <option value=1>Appetizers&Snack</option>
        <option value=2>Breakfast&Brunch</option>
        <option value=3>Dessert</option>
        <option value=4>Dinner</option>
        <option value=5>Drinks</option>
      </select>
    </div>
    <div class="form-group">
      <label>Cooking time</label>
      <select class="form-control" name="cooking_time" formControlName="cooking_time">
        <option value=0.25>up to 15 minutes</option>
        <option value=0.5>up to 30 minutes</option>
        <option value=1>up to 1 hour</option>
        <option value=1.5>up to 1.5 hours</option>
        <option value=2>up to 2 hours</option>
        <option value=2.1>over 2 hours</option>
      </select>
    </div>
    <div class="form-group">
      <label>Complexity</label><br>
      <ngb-rating [(rate)]="currentRate"></ngb-rating>
    </div>
  </div>
  <div class="form-group">
    <input type="file" name="dish_photo" accept="image/*,image/jpeg" formControlName="dish_photo" (change)="change($event)" />
  </div>
  <img [src]="sanitize()">
  <div class="form-group controls">
    <button class="btn btn-lg btn-primary" type="submit" [disabled]="newRecipeForm.invalid">Save</button>
    <button class="btn btn-lg btn-primary" (click)="cancelChanges()">Cancel</button>
  </div>
</form>