/* profile */

.container{
    padding:5%;

  }
  .edit-details {
    display: none;
    .btn {
        margin-left: 10%;
      }
      li{
        margin-bottom: .5rem;
      }
  }

  
  /* Users' list */
  thead {
    cursor: pointer;
  }
  .page-item.active .page-link {
    background-color: #28447a;
    border-color: #28447a;
  }
  .page-item .page-link {
    color: #28447a;
  }
  .page-link:focus {
    box-shadow: none;
  }
  span.lastName {
    display: none;
  }
  span.email {
    display: none;
  }
  span.age {
    display: none;
  }