<app-category-nav></app-category-nav>
<div class="wrapper">
  <app-section-header [header]="headerText"></app-section-header>
  <div class="container">
    <div class="row">
      <app-profile-avatar class="col-md-6"></app-profile-avatar>
      <app-profile-details *ngIf="visibility;else other_content" class="col-md-6" [userData]="userData" (edit)="editProfile($event)"></app-profile-details>
      <ng-template #other_content>
        <app-profile-edit class="col-md-6" [ngClass]="{invisible: visibility}" [userData]="userData"></app-profile-edit>
      </ng-template>
    </div>
  </div>
</div>