.wrapper {
    background-color: #f8f9fa;
    margin-top: 1rem;
    ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        margin-top: 15px;
        width: 32%;
        background-color: #fff;
        img {
            width: 100%;
        }
        h3 {
            text-align: center;
        }
        span {
            font-weight: 600;
            padding: 0 5px;
        }
    }
}
div.carousel {
    background-color: #fff;
    width: 100%;
    margin: 1rem auto;
}