.recipes {
    padding: 10px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.recipes__card {
    margin-top: 15px;
    width: 32%;
    background-color: #fff;
    border:2px solid #d0d2d5;
}
.recipes__card:not(:nth-child(3n)) {
    margin-right: 2%;
}
.carousel {
    padding: 16px 10px 0;
    background-color: #fff;
    width: 100%;
    margin: 1rem auto;
}