div {
    min-height: 100vh;
    padding-top: 1rem;
    color: beige;
    font-size: 3rem;
}
nav {
    background: rgba(48, 1d, 0b, 0.5);
    a {
        color: beige;
        margin-right: 10rem;
        font-size: 3rem;
    }
}